 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0 ;
    outline: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
}

.Search_container{
    background-color: rgb(253, 125, 146);
    height: 200px;
    width: 100px;
    border-radius:30px ;
    height: 250px;
    width: 700px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        
}
.Search_barbtn{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_Search{
    background-color: transparent;
    border:1px solid #fff ;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    width: 200px;
    height: 40px;
    transition: all 0.2s ease-in-out;
    transition: 0.5s;
}


#textBox{
    background-color: transparent;
    border-radius: 30px;
    text-align: center;
    border:1px solid #fff ;
    color:white;
    margin: 10px;
    height: 40px;
    width: 450px;
    padding: 0.5em;
}

.btn_Search:hover{
    background-color: rgb(239,219,122);
    
}

#textBox:hover{
    background-color: rgb(83,113,147);
    transition: 0.5s;
}